@mixin flexCenter() {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin alignCenter() {
  display: flex;
  align-items: center;
}

@mixin spaceBetween() {
  display: flex;
  justify-content: space-between;
}

@mixin subTitleTemplate() {
  color: $nav-color;
  font-size: 20px;
  text-align: center;
  margin-bottom: 34px;
  margin-top: 0;
}

@mixin titleTemplate() {
  color: $nav-color;
  font-size: 28px;
  font-weight: 700;
  padding: 0;
  margin-top: 0;
  margin-bottom: 16px;
  text-align: center;
}

