@import "initial";
@import "variables";
@import "templates";

//pages
@import "pages/home";
@import "pages/basket";
@import "pages/collection";
@import "pages/category";
@import "pages/sub";
@import "pages/about";
@import "pages/delivery";

//layout
@import "layout/nav";
@import "layout/upperHeader";
@import "layout/footer";
@import "layout/bannerHeader";
@import "layout/headerSmall";

//sliders
@import "slides/newSlider";
@import "slides/newSliderItem";
@import "slides/salesSlider";
@import "slides/salesSliderItem";

//reusable
@import "reusable/collection";
@import "reusable/panelWithBasketItems";
@import "reusable/panelWithOffer";
@import "reusable/panelWithDelivery";
@import "reusable/filter";

// @import "./pages/_photoZoom.min.css";

@import "layout/loading";

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import "../../../node_modules/react-tabs/style/react-tabs.scss";

.whatsapp-mobile {
  display: none;
  @include _600() {
    display: block;
  }
  a {
    background-color: $btn-yello;
    border-radius: 50px;
    text-decoration: none;
    color: black;
    @include flexCenter();
    box-sizing: border-box;
    .whats-icon {
      width: 100%;
    }
    @include _600() {
      position: fixed;
      width: 48px;
      height: 48px;
      padding: 10px;
      bottom: 20px;
      right: 20px;
      z-index: 9;
    }
  }
}
