@import '../templates';

.collection{
	background-color: #F9F9F9;
	.collection-info{
		width: 86%;
		margin: 0 auto;
		padding-bottom: 63px;
		border-bottom: 1px solid #EEEEF4;
		.collection-name{
			color: $nav-color;
		}
		.content{
			@include spaceBetween;
			.photo-wrapper{
				width: 47%;
				.photo{
					width: 100%;
				}
			}
			.all-info-wrapper{
				width: 47%;
				font-size: 15px;
				.price-wrapper{
					@include spaceBetween;
					margin-bottom: 26px;
					.price-text{
						font-size: 15px;
					}
					.price{
						font-weight: bold;
					}
				}
				.monufacturer-wrapper{
					@include spaceBetween;
					margin-bottom: 16px;
					.manufacturer-text{
						color: $grey-color;
					}
					.manufacturer{
						color: $nav-color;
					}
				}
				.size-wrapper{
					@include spaceBetween;
					margin-bottom: 16px;
					.size-text{
						color: $grey-color;
					}
					.size{
						color: $nav-color;
					}
				}
				.surface-wrapper{
					@include spaceBetween;
					margin-bottom: 16px;
					.surface-text{
						color: $grey-color;
					}
					.surface{
						color: $nav-color;
					}
				}
				.style-wrapper{
					@include spaceBetween;
					margin-bottom: 16px;
					.style-text{
						color: $grey-color;
					}
					.style{
						color: $nav-color;
					}
				}
				.post-wrapper{
					@include spaceBetween;
					.post{
						color: $nav-color;
						@include alignCenter;
					}
					.collection-is-true{
						@include alignCenter;
						.green-circle{
							width: 19px;
							height: 19px;
							margin-right: 5px;
						}
						.dostupno{
							font-weight: bold;
							font-size: 15px;
						}
					}
				}
			}
		}
	}
	.collection-products-wrapper{
		width: 86%;
		margin: 40px auto 53px auto;
		.collection-products{
			display: flex;
			flex-wrap: wrap;
			.collection-product{
				width: 47%;
				margin-right: 26px;
				display: flex;
				background-color: white;
				box-shadow: 0px 0px 10px rgba(163, 161, 161, 0.35);
				border-radius: 2px;
				max-height: 360px;
				.image-wrapper{
					flex: 0.3;
					.image-product{
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
				.product-wrapper{
					flex: 0.7;
					padding: 18px 26px;
					.type-wrapper{
						@include spaceBetween;
						margin-bottom: 16px;
						.type-text{
							color: $grey-color;
						}
						.type{
							color: $nav-color;
						}
					}
					.view-wrapper{
						@include spaceBetween;
						margin-bottom: 16px;
						.view-text{
							color: $grey-color;
						}
						.view{
							color: $nav-color;
						}
					}
					.size-wrapper{
						@include spaceBetween;
						margin-bottom: 16px;
						.size-text{
							color: $grey-color;
						}
						.size{
							color: $nav-color;
						}
					}
					.quantity-wrapper{
						@include spaceBetween;
						align-items: center;
						.quantity{
							margin-right: 11px;
						}
						.minus{
							@include flexCenter;
							background-color: $btn-yello;
							border-radius: 50%;
							width: 24px;
							height: 24px;
							border: none;
							font-size: 20px;
							&:disabled{
								background-color: $grey-color;
								color: black;
							}
						}
						.plus{
							background-color: $btn-yello;
							@include flexCenter;
							border-radius: 50%;
							width: 24px;
							height: 24px;
							border: none;
							font-size: 20px;
							&:disabled{
								background-color: $grey-color;
								color: black;
							}
						}
						.input-quantity{
							width: 100px;
							-moz-appearance: textfield;
						}
					}
					.price-wrapper{
						@include spaceBetween;
						margin-bottom: 16px;
						.price-text{
							color: $nav-color;
						}
						.price{
							color: $nav-color;
							font-size: 18px;
							.som{
								color: $grey-color;
								margin-left: 5px;
							}
						}
					}
					.btn-offer{
						width: 100%;
						height: 34px;
						left: 307px;
						top: 1009px;
						background: #393939;
						border-radius: 2px;
						color: white;
						margin-top: 18px;
					}
				}
			}
		}
	}
}


.dots{
	margin-top: 16px;
	margin-bottom: 24px;
	border: 1px dashed #B8B8C4;
}
