@import "../templates";

.panel-with-basket-items {
  padding-bottom: 100px;
  .main-info {
    .make-order {
      padding: 10px 16px;
      border: none;
      background-color: #393939;
      color: white;
      min-width: 240px;
      &:hover {
        cursor: pointer;
      }
      &:disabled {
        background-color: #eeeff0;
        color: #86879a;
      }
    }
  }
  .no-items {
    margin: 100px auto;
  }
  .items {
    display: flex;
    flex-wrap: wrap;
    .cart-item {
      width: 600px;
      margin: 36px 36px 36px 0;
      box-sizing: border-box;
      &-infos {
        display: flex;
        justify-content: space-between;

        .image-wrapper {
          width: 160px;
          max-height: 240px;
          overflow: hidden;
          .cart-item-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .infos-wrapper {
          width: 70%;

          .manufac-wrapper {
            @include spaceBetween();
            margin-bottom: 16px;
            .manufac-text {
              color: $grey-color;
            }
            .manufac {
              color: $nav-color;
            }
          }

          .size-wrapper {
            @include spaceBetween();
            margin-bottom: 16px;
            .size-text {
              color: $grey-color;
            }
            .size {
              color: $nav-color;
            }
          }

          .surface-wrapper {
            @include spaceBetween();
            margin-bottom: 16px;
            .surface-text {
              color: $grey-color;
            }
            .surface {
              color: $nav-color;
            }
          }

          .count-wrapper {
            @include spaceBetween();
            align-items: center;
            .quantity {
              margin-right: 11px;
            }
            .count-logic {
              @include alignCenter();
              .minus {
                @include flexCenter();
                background-color: $btn-yello;
                border-radius: 50%;
                width: 24px;
                height: 24px;
                border: none;
                font-size: 20px;
                &:disabled {
                  background-color: $grey-color;
                  color: black;
                }
                &:focus {
                  outline: none;
                }
              }
              .plus {
                background-color: $btn-yello;
                @include flexCenter();
                border-radius: 50%;
                width: 24px;
                height: 24px;
                border: none;
                font-size: 20px;
                &:disabled {
                  background-color: $grey-color;
                  color: black;
                }
                &:focus {
                  outline: none;
                }
              }
              .input-count {
                width: 100px;
                -moz-appearance: textfield;
              }
            }
          }

          .item-total-price-wrapper {
            @include spaceBetween();
            margin-bottom: 16px;
            .price-text {
              color: $grey-color;
            }
            .price {
              color: $nav-color;
              display: flex;
              span {
                color: $grey-color;
                margin-left: 8px;
              }
              .delete-item-btn {
                @include flexCenter();
                background-color: red;
                border-radius: 50%;
                width: 24px;
                height: 24px;
                border: none;
                margin-left: 25px;
              }
            }
          }
        }
      }
    }
  }
}
