@import '../templates';

.news-slider-main{
	background-color: #F6F6FB;
	.container{
		width: 86%;
		margin: 0 auto;
		padding: 44px 0;
		.title{
			@include titleTemplate;
		}
		.sub-title{
			@include subTitleTemplate;
		}
		.new-slider{
			.slick-arrow{
				background-color: black;
				border-radius: 2px;
			}
		}
	}
}
