@import '../templates';

.footer{
	background-color: $grey-footer;
	.container{
		width: 86%;
		margin: 0 auto;
		@include spaceBetween;
		@include _480{
			display: flex;
			flex-direction: column;
			text-align: center;
		}
		.info{
			width: 25%;
			max-width: 210px;
			@include _480{
				width: 100%;
				margin: 0 auto;
				display: flex;
				flex-direction: column;
				text-align: center;
			}
			.soc-icons{
				margin-top: 45px;
				.white-inst{
					margin-right: 10px;
				}
			}
			h4{
				color: white;
				font-size: 15px;
			}
			.info-item{
				color: #86879A;
				margin-bottom: 8px;
			}
		}
	}
	.last{
		border-top: 1px solid black;
		padding: 16px 0;
		color: white;
		margin-top: 20px;
		.container{
			width: 86%;
			margin: 0 auto;
		}
	}
}
