@import '../templates';

.nav{
	color: $nav-color;
	font-weight: bold;
	font-size: 15px;
	padding: 16px 0;
	.container{
		width: 86%;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.left{
			@include spaceBetween;
			width: 65%;
			.item{
				position: relative;
				color: $nav-color;
				text-decoration: none;
				&:hover .sub-item-wrapper{
					display: flex;
					flex-direction: column;
				}
				&:hover .arr{
					transform: rotate(180deg);
				}
				&:hover{
					cursor: pointer;
				}
				.arr{
					margin-left: 10px;
				}
			}
			.sub-item-wrapper{
				display: none;
				position: absolute;
				width: max-content;
				z-index: 8;
				.sub-item{
					font-weight: normal;
					text-decoration: none;
					color: $nav-color;
					padding: 7px 20px;
					height: 100%;
					border: 1px solid #E3E4EE;
					background-color: white;
					&:hover{
						text-decoration: underline;
						text-decoration-color: $btn-yello;
					}
				}
			}
			.item-link{
				text-decoration: none;
				color: $nav-color;
			}
		}
		.right{
			.watsapp{
				background-color: $btn-yello;
				@include alignCenter;
				padding: 10px 23px;
				border-radius: 2px;
				.wats-icon{
					margin-right: 7px;
				}
			}
		}
	}
}
