@import '../templates';

.nav{
	color: $nav-color;
	font-weight: bold;
	font-size: 15px;
	padding: 16px 0;
	.container{
		width: 86%;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.left{
			@include spaceBetween();
			width: 70%;
			@include _768(){
				width: 100%;
			}
			.item{
				position: relative;
				.link-wrapper{
					.to-navlink{
						color: $nav-color;
						text-decoration: none;
						&:hover{
							cursor: pointer;
						}
					}
					.arr{
						margin-left: 10px;
						width: 10px;
						&.down{
							transform: rotate(180deg);
						}
					}
				}
				.sub-items{
					display: none;
					position: absolute;
					top: 38px;
					width: max-content;
					z-index: 8;
					&.show{
						display: flex;
						flex-direction: column;
					}
					.sub-item{
						font-weight: normal;
						text-decoration: none;
						color: $nav-color;
						padding: 7px 20px;
						height: 100%;
						border: 1px solid #E3E4EE;
						background-color: white;
						&:hover{
							text-decoration: underline;
							text-decoration-color: $btn-yello;
						}
					}
				}
			}
			.item-link{
				text-decoration: none;
				color: $nav-color;
			}
		}
		.right{
			.watsapp{
				background-color: $btn-yello;
				@include alignCenter();
				padding: 10px 23px;
				border-radius: 2px;
				box-sizing: border-box;
				.wats-icon{
					margin-right: 7px;
					@include _768(){
						margin: 0;
						width: 100%;
					}

				}
				.text{
					@include _768(){
						display: none;
					}
				}
				@include _768(){
					position: fixed;
					width: 48px;
					height: 48px;
					padding: 10px;
					border-radius: 50px;
					bottom: 10px;
					right: 10px;
					z-index: 9;
				}
			}
		}
	}
}
